body {
   font-size: 14px;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
}
a {
   color: $link;
}

.wrapper {
   display: flex;
   flex-direction: column;
   height: 100%;
}
.main {
   flex: 1 0 auto;
}
.footer {
   flex: 0 0 auto;
}
.main-page {
   background-color: #f4f6f5;
}

.container {
   max-width: 1200px;
   margin: 0px auto;
   padding: 0 15px;
}
.container-fluid {
   padding: 0px 30px;
   margin: 0px auto;
   max-width: 100%;
}
.title {
   color: $bg;
   font-size: 36px;
   line-height: 60px;
   margin-bottom: 40px;
   font-weight: 700;
   text-align: center;
}

.breadcrumbs {
   &__inner {
      padding: 50px 0 43px;
   }

   &__list {
      a,
      span {
         color: #b0bec5;
         font-size: 15px;
      }

      li {
         display: inline-block;
      }

      li:last-child {
         a,
         span {
            color: $bg;
         }
      }

      li + li {
         margin-left: 20px;
         position: relative;
         &::before {
            content: '-';
            color: $green;
            position: absolute;
            left: -14px;
         }
      }
   }
}
.angel-right {
   position: relative;
   padding-left: 15px;
   &::before {
      content: '\f105';
      position: absolute;
      font-family: 'icomoon';
      font-size: 14px;
      color: $green;
      left: 0;
   }
}
