@import 'vars';
@import 'global';
@import 'fonts';

//header start
.header {
  &__top {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
  }

  &__logo {
  }

  &__text {
    margin-left: auto;
    margin-right: 25px;
    color: $link;
    font-size: 15px;
    span {
      color: $red;
    }
  }

  &__btn {
    font-size: 12px;
    line-height: 24px;
    width: 72px;
    padding: 4px;
    color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
  }
  &__btn-login {
    background-color: $green;
    margin-right: 7px;
  }
  &__btn-register {
    background-color: $red;
  }

  &__menu {
    background-color: $bg;
  }
}

.busket {
}
.menu {
  height: 60px;
  display: flex;
  align-items: center;
  &__list {
    li {
      display: inline-block;
    }
    li + li {
      margin-left: 40px;
    }
  }
  a {
    color: #fff;
    font-weight: 500;
  }
}

//header end
//search start

.search {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 533px;
  &__inner {
    padding-top: 165px;
    padding-bottom: 90px;
    text-align: center;
    color: #fff;
  }

  &__inner-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    margin-bottom: 10px;
  }

  &__inner-text {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 45px;
  }

  &__inner-form {
    max-width: 670px;
    margin: 0px auto;
    position: relative;
    input {
      width: 100%;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      height: 56px;
      padding-right: 60px;
      padding-left: 25px;
      &::placeholder {
        color: #90a4ae;
      }
      &:focus {
        outline: auto;
      }
    }
    button {
      position: absolute;
      top: 19px;
      right: 19px;
      background-color: transparent;
    }
  }
}

//search end
//products start

.products {
  background-color: #f4f6f5;
  padding: 110px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__btn {
    margin-bottom: 60px;
    text-align: center;
    button {
      font-size: 13px;
      padding: 10px 20px;
      background-color: #fff;
      font-weight: 500;
      & + button {
        margin-left: 6px;
      }
      &.mixitup-control-active {
        background-color: $red;
        color: #fff;
      }
    }
  }

  &__btn-bottom {
    margin-top: 75px;
    margin-bottom: 0;
    button {
      box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    }
  }
}
.product {
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  max-width: 442px;
  width: 100%;
  margin-bottom: 30px;
  &__item-image {
    display: block;
    min-height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__content {
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-bottom: 1px solid #e7ecf2;
    a {
      display: block;
    }
  }

  &__description {
    max-width: 320px;
    font-weight: 500;
  }

  &__description-title {
    font-size: 18px;
    margin-bottom: 18px;
    color: $bg;
  }

  &__description-category {
    font-size: 14px;
    color: $green;
  }

  &__price {
    font-size: 20px;
    font-weight: 700;
  }

  &__info {
    min-height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }

  &__info-box {
    display: flex;
    align-items: center;
    span {
      width: 30px;
      height: 30px;
      display: inline-block;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 15px;
    }
  }

  &__info-star {
    padding-left: 10px;
    color: $link;
    font-size: 12px;
    span {
      color: $bg;
    }
  }
  .rate-star {
    display: inline-block;
    margin-right: 14px;
  }
}

//products end

// start  ...................................

.product-slider {
  padding: 110px 0px 120px;
}
.product-slider__inner {
  .slick-dots {
    position: static;
    margin-top: 67px;
    li {
      &.slick-active {
        button {
          background-color: $green;
        }
      }
    }
    button {
      border-radius: 50%;
      background-color: rgb(232, 232, 232);
      width: 16px;
      height: 16px;
    }
  }
}

//end   ....................................

//start advantage....................................

.advantage {
  padding: 110px 0;
  background-color: $bg;
  &__title {
    color: #fff;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 330px;
    text-align: center;
    padding: 0px 15px;
    &:hover {
      .advantage__item-title {
        color: $green;
      }
      .advantage__item-image {
        background-color: $green;
        g {
          fill: #fff;
        }
      }
    }
  }

  &__item-image {
    width: 113px;
    height: 113px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    transition: all 0.4s;
  }

  &__item-title {
    margin-top: 35px;
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 30px;
    transition: all 0.4s;
  }

  &__item-text {
    font-size: 15px;
    line-height: 24px;
    color: #b0bec5;
  }
}

//end advantage....................................

// start author ...................................

.author {
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $green;
    max-width: 650px;
    width: 100%;
    min-height: 215px;
    padding: 0px 60px;
  }

  &__title {
    font-size: 30px;
    width: 260px;
    margin-right: 10px;
    color: #fff;
    span {
      font-weight: 700;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 36px;
    color: $bg;
    padding: 14px 43px;
    background-color: #fff;
  }
}

//end  author ....................................

// start tutorial  ...................................

.tutorial {
  padding: 65px 0px 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 370px;
    width: 100%;
  }

  &__item-image {
    min-height: 270px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__item-title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: $bg;
    padding: 40px 10px;
    background-color: #f8f8f8;
  }
}

//end tutorial  ....................................

// start footer ...................................

.footer {
  background-color: $bg;
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 110px 0 80px;
  }

  &__item {
    max-width: 270px;
    width: 100%;
  }

  &__item-titel {
    font-size: 22px;
    color: #fff;
    padding-bottom: 30px;
    margin-bottom: 25px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      height: 3px;
      width: 50px;
      background-color: $green;
      left: 2px;
      bottom: 0;
    }
  }

  &__item-text {
    color: #b7c3c8;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  &__item-info {
    color: #fff;
    line-height: 24px;
    font-weight: 500;
    margin: 18px 0;
    padding-left: 30px;
    position: relative;
    font-family: 'icomoon';
    &::before {
      content: '\f041';
      position: absolute;
      color: $green;
      font-size: 18px;
      left: 0;
    }
  }
  a.footer__item-info {
    &::before {
      content: '\f095';
    }
  }

  &__item-menu {
    max-width: 220px;
  }

  &__item-list {
    li {
      margin-bottom: 20px;
    }
    a {
      color: #b7c3c8;
      font-size: 15px;
      padding-left: 21px;
      position: relative;
      &::before {
        content: '\f105';
        font-size: 18px;
        color: $green;
        position: absolute;
        left: 0;
        font-family: 'icomoon';
        top: 0;
      }
    }
  }

  &__item-social {
    li {
      display: inline-block;
      margin-bottom: 45px;
      margin-right: 7px;
    }
  }

  &__item-form {
    font-size: 20px;
    color: #fff;
    position: relative;
    input {
      color: #fff;
      background-color: #2f3c43;
      padding-right: 50px;
      padding-left: 15px;
      min-height: 38px;
      margin-top: 20px;
      width: 100%;
      &::placeholder {
        color: #697378;
      }
    }
    button {
      width: 43px;
      height: 38px;
      background-color: $green;
      position: absolute;
      right: 0;
      bottom: 0;
      &::before {
        font-family: 'icomoon';
        content: '\f124';
        color: #fff;
      }
    }
  }

  &__copy {
    border-top: 1px solid #424d53;
    text-align: center;
  }

  &__copy-text {
    padding: 30px 0;
    color: #919699;
    font-size: 15px;
  }
}

//end footer  ....................................

// start  ...................................
//end   ....................................

// start  ...................................
//end   ....................................

// start  ...................................
//end   ....................................
